@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brandColor: #f9d141;
  --yellowBg: #fffed5;
  --darkBg: #141414;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

/* layout 확인용 class */
.border-black {
  border: 1px solid black;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}
